<div class="thumbnail">
    <%= image_tag @ad.picture.url(:large), class: "img-responsive" %>

    <div class="caption-full">
        <h4 class="pull-right"><%= humanized_money_with_symbol @ad.price %></h4>
        <% if member_signed_in? %>
            <%= link_to "Comprar", '#', class: "btn btn-success" %>
        <% else %>
            <%= link_to "Efetue login para comprar", new_member_session_path, class: "btn btn-success" %>
        <% end %>

        <h4><a href="#"><%= @ad.title %></a>
        </h4>
        <p><%= @ad.description.html_safe %></p>
    </div>
</div>

<div class="well well-sm">
    <div class="ratings">

        <%
            if @ad.rates("quality").count == 1
                texto = "avaliação"
            else
                texto = "avaliações"
            end
         %>
         <p class="pull-right">
            <%= "#{@ad.rates("quality").count} #{texto}" %>
         </p>

         <%= rating_for @ad, 'quality'%>
    </div>
</div>

<div class="well">

    <div class="text-right">
        <% if member_signed_in? %>
            <button type="button" class="btn btn-success" data-toggle="modal"
                                                    data-target="#commentModal">
                Deixe um comentário
            </button>
        <% else %>
            <%= link_to "Efetue login para comentar", new_member_session_path, class: "btn btn-success" %>
        <% end %>
    </div>

    <hr>

    <%= render partial: 'site/ad_detail/comments' %>
</div>

<!-- Modal -->
<%= render partial: 'site/ad_detail/comment_modal' %>

